.nav{
    background-color: #128c7e;
    position: sticky;
    top: 0;
  }
  
  .h1_custom{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
  }
.p{
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.tablink {
  background-color: #128c7e;
  color: white;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  font-size: 17px;
  width: 25%;
}

.tablink:hover {
  background-color: #094841;
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  color: black;
  display: none;
  padding: 100px 20px;
  height: 100%;
}
.card .card-body .clientimg{
  padding-bottom: 50px;
}
.chathead{
  font-style: italic;
  font-size: 18px;
}

#Home {background-color: white;}
#News {background-color: white;}
#Contact {background-color: white;}
#About {background-color: white;}

.cam{
  position: absolute;
  cursor: pointer;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  background-color: #128C7E;
  left: 53%;
  margin-top: 200px;
  }

  .camicon{
    position: relative;
color:white;
font-size: 25px;
left: 28%;
top:25%;
  }